h1 {
  color: blue;
  text-align: left;
}

h2 {
  font-style: italic;
  text-align: left;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 20px;
  line-height: 30px;

}
.intro {
  font-style: italic;
  color:blueviolet
}

#closing {
  color: red;
}
.flashy {
  color:red;
  font-style:italic

}
.important {
  color:coral;
  background-color: aquamarine;

}
.unimportant {
  color:darkgreen;

}

.highlight {
  font-style: italic;
  color:deeppink;
  font-weight: bold;

}

